

.loginform {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
    margin: 70px auto;
}

.input {
    margin: 10px 20px;
    font-size: 20px;
    height: 30px;
    border: 1px solid #444;
}

.btn {
    margin: 10px 20px;
    background-color: transparent;
    border: 1px solid #1a768a;
    border-radius: 8px;
    height: 40px;
    width: 120px;
    font-size: 20px;
    color: #1a768a;
}
